{% extends "base.html" %} {% block title %}Sign up{% endblock %}
{% block content %}
<div class="p-3 w-100 align-center border rounded">
    <form class="row g-3" method="POST">
        <div class="col-12">
            <h1>Sign UP</h1>
        </div>
        <div class="col-md-6">
            <label for="fname" class="form-label">Frist Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
        </div>
        <div class="col-md-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                aria-describedby="emailHelp">
        </div>
        <div class="col-12">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
        </div>
        <div class="col-12">
            <label for="password2" class="form-label">Password Confirmation</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Password Confirmation">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}